name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Build & Test on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust registry & target
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: v0-rust
          shared-key: rust-cache
          cache-targets: true
          cache-bin: true
          cache-workspace-crates: true

      - name: Cargo build (debug)
        run: cargo build --features minimessage --locked --verbose

      - name: Cargo clippy
        run: cargo clippy --features minimessage

      - name: Cargo test
        run: cargo test --features minimessage --locked --verbose
