name: Build and Deploy mdBook Docs to VPS

on:
  push:
    branches:
      - docs
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - uses: actions/checkout@v5

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: 'latest'

      - name: Build mdBook
        run: mdbook build

      # Deploy to VPS over SSH
      - name: Deploy Book to VPS
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_IP }}
          username: actions
          key: ${{ secrets.VPS_PRIV_KEY }}
          port: 22
          source: "book"
          target: "/home/actions/repos/kyori-component-json"
          strip_components: 1
          rm: true
